<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="WebSiteName" value="Michelin Reward Center - "/>
    <add key="BFGoodrichWebSiteName" value="BFGoodrich Reward Center - "/>
    <add key="SendErrorEmail" value="Y"/>
    <add key="FaxNumber" value="(309) 736-8101"/>
    <add key="ContactUsEmail" value="contact@tirerewardcenter.com"/>
    <add key="UploadPath" value="C:\Users\donv\Desktop\Consumer\"/>
    <add key="MaintenanceFlag" value="N"/>
    <add key="AddressValidateURL" value="http://production.shippingapis.com/ShippingAPI.dll"/>
    <add key="AddressValidateUserName" value="975GROUP2735"/>
  </appSettings>
  <connectionStrings>
    <add name="Michelin_Promotion" connectionString="Data Source=TestRMSSQL01\SQL01;Initial Catalog=Promotion;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Michelin_Submission" connectionString="Data Source=TestRMSSQL01\SQL01;Initial Catalog=Submission;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MembershipEntities" connectionString="metadata=res://*/App_Code.DAL.Linq.MembershipEntities.csdl|res://*/App_Code.DAL.Linq.MembershipEntities.ssdl|res://*/App_Code.DAL.Linq.MembershipEntities.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;webtestrmssql01.groupo.com, 1451&quot;;initial catalog=Promotion;integrated security=True;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="AnalyticsConnectionString" connectionString="Data Source=DevRMSSQL01\SQL01;Initial Catalog=Analytics;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <healthMonitoring enabled="true" heartbeatInterval="60">
      <eventMappings>
        <clear/>
        <add name="All Errors" type="System.Web.Management.WebBaseErrorEvent,System.Web,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647"/>
        <add name="Failure Audits" type="System.Web.Management.WebFailureAuditEvent,System.Web,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647"/>
      </eventMappings>
      <providers>
        <clear/>
        <add type="System.Web.Management.SimpleMailWebEventProvider" name="EmailWebEventProvider" buffer="false" from="health.monitor@tirerewardcenter.com" to="brad.johnston@groupo.com"/>
      </providers>
      <bufferModes>
        <clear/>
        <add name="Critical Notification" maxBufferSize="100" maxFlushSize="20" urgentFlushThreshold="1" regularFlushInterval="Infinite" urgentFlushInterval="00:00:30" maxBufferThreads="1"/>
      </bufferModes>
      <rules>
        <clear/>
        <add name="All Errors To E-Mail" eventName="All Errors" provider="EmailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
      </rules>
    </healthMonitoring>
    <urlMappings enabled="true">
      <add url="~/Michelin" mappedUrl="~/Michelin/MichHome.aspx"/>
      <add url="~/Michelin/" mappedUrl="~/Michelin/MichHome.aspx"/>
      <!--<add url="~/Michelin" mappedUrl="~/Michelin/michelinsoccer.aspx"/>-->
      <add url="~/Michelin/QRCode" mappedUrl="~/Michelin/QRCode/default.aspx"/>
      <add url="~/Michelin/QRCode/" mappedUrl="~/Michelin/QRCode/default.aspx"/>
      <add url="~/BFGoodrich/QRCode" mappedUrl="~/BFGoodrich/QRCode/default.aspx"/>
      <add url="~/BFGoodrich/QRCode/" mappedUrl="~/BFGoodrich/QRCode/default.aspx"/>
      <add url="~/mobile/BFGoodrich/" mappedUrl="~/mobile/BFGoodrich/login.aspx"/>
      <add url="~/mobile/michelin/" mappedUrl="~/mobile/michelin/login.aspx"/>
      <add url="~/mobile/michelin" mappedUrl="~/mobile/michelin/login.aspx"/>
      <add url="~/michelinsoccer" mappedUrl="~/michelin/MichHome.aspx"/>
      <add url="~/mobile/michelinsoccer" mappedUrl="~/mobile/michelin/user/rewardstatus.aspx"/>
    </urlMappings>
    <pages validateRequest="true">
      <controls>
        <add tagPrefix="cc1" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms name=".MCRCFORMAUTH" requireSSL="false" loginUrl="~/default.aspx" defaultUrl="~/Default.aspx" timeout="2880"/>
    </authentication>
    <customErrors defaultRedirect="~/Errors/default.aspx" mode="RemoteOnly"/>
    <!-- Set High here and let the code behind catch and restrict to 2mb -->
    <httpRuntime executionTimeout="330" maxRequestLength="254096"/>
    <membership userIsOnlineTimeWindow="20" defaultProvider="MichelinCRC_MembershipProvider">
      <providers>
        <add connectionStringName="Michelin_Promotion" passwordStrengthRegularExpression="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,25}$" applicationName="MichelinCRC" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" name="MichelinCRC_MembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add connectionStringName="Michelin_Promotion" passwordStrengthRegularExpression="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,25}$" applicationName="MichelinCRC" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" name="MichelinCRC_MembershipProvider_Admin" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </membership>
    <profile defaultProvider="MichelinCRC_ProfileProvider" automaticSaveEnabled="false">
      <providers>
        <add name="MichelinCRC_ProfileProvider" connectionStringName="Michelin_Promotion" applicationName="MichelinCRC" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <properties>
        <add name="FirstName" type="String"/>
        <add name="LastName" type="String"/>
        <add name="Email" type="String"/>
        <add name="Address" type="String"/>
        <add name="AptSuite" type="String" defaultValue=""/>
        <add name="City" type="String"/>
        <add name="State" type="String"/>
        <add name="Zip" type="String"/>
        <add name="Phone" type="String"/>
        <add name="CartID" type="Integer"/>
        <add name="SubmissionID" type="Integer"/>
        <add name="PromotionID" type="Integer"/>
      </properties>
    </profile>
    <machineKey validationKey="BB22A766FEDAD3476FF9CF623ED7F575C953F692D3CDAF6977370A6ECDDDB819B57194DB90E2193DB4A3BDDC1328B95D7B736F2C507FE490D4C7F29172269874" decryptionKey="EB35EAC651DD848C44BE84129E21A7951984873B54881AAA" validation="SHA1"/>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName="MCRCROLES" defaultProvider="MichelinCRC_RoleProvider">
      <providers>
        <add connectionStringName="Michelin_Promotion" applicationName="MichelinCRC" name="MichelinCRC_RoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <!--<network defaultCredentials="true" host="outbound.seg.att.com" port="25"/>-->
        <!--<network defaultCredentials="true" host="svrcoex001.ad.groupo.com" port="25"/>-->
        <network defaultCredentials="true" host="svrcoexcas01.ad.groupo.com" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>