html{
    padding:0;
    margin:0;
    vertical-align:top;    
    font-family: Arial, Helvetica, Sans-Serif;
}

body {
    background-color:#ffffff;
    padding-top:0pt;
    padding-bottom:0pt;
    margin:0pt 0pt 0pt 0pt;
    font-size:12px;
    text-align:left;
    color:#000000;
}

image {
    border-style:none;
}

sup { vertical-align: text-top; } 

td {
    vertical-align:top;
}

a {
    text-decoration:none;
    font-weight:normal;
    font-size:12px;
    color:#0096d6; /* blue green */
    /*white-space:nowrap;*/
}

a:hover {
    text-decoration:underline;
}
.onpagedialog
{
    border-bottom: #BEC2C7 2px solid;
    filter: progid: DXImageTransform.Microsoft.Shadow(color:#EDF3F9,strength:5,direction:135);
    background-color: #FAFCFF;

    width: 575px;
    border-top: #E3E8EE 1px solid;
    border-left: #E3E8EE 1px solid;
    border-right: #D9DDE3 2px solid;
    -moz-box-shadow: #EDF3F9 0px 0px 5px 0px;
    -webkit-box-shadow: 0px 0px 5px #EDF3F9;
    box-shadow: 0px 0px 5px #EDF3F9;
}
